body, html {
  height: 100%;
  background-color: pink;
  position: relative;
}
.container {
  background-color: rgb(201, 245, 248);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding-top: 5px;
  margin-bottom: 10px;
  position: absolute;
}

.toolbar {
  width: inherit;
  height: 80px;
  background-color: gray;
  margin: 10px;
  border-radius: 8px;
  position: relative;
}

.main {
  display: inline-block;
  position: absolute;

}

.sidebar {
  width: 100px;
  height: 770px;
  border-radius: 8px;
  background-color: gray;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 10px; 
 
 
}

.c1a {
  width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 8px;
  background-color: gray;
  
}
